.grid {
  width: 100%;
  height: 300px;
}

a
{
  text-decoration: none;
}

.table tr{
  cursor: pointer;

}

.table tr:hover
{
  background-color:#EDEDED;
}

html
{
   overflow-y: scroll ! important;
}
.ngdialog-content
{
  padding:1.8em 2em ! important;
  border-radius: 0px ! important;
}
