<div ng-controller="Page1Controller">
    <h4> <% Title %> </h4>
    The drinks here, like the Blackwatch (with Johnny Walker Black, creme de cassis, and Becherovka), are far from pedantic.
    New York City’s Best New Hotspots This Spring Sara Sayed, Valeriya Safronova April 1, 2014

    The pedantic type might note that Hippolytus makes no prophetic mention of the cinema or the Internet.
    St. Hippolytus’ Careers Christians Should Never Have Candida Moss May 3, 2014

    The problem was that Sorkin did too much ( pedantic, predictable) telling and not enough showing.
    ‘The Newsroom’ Season 2 Premiere: How Aaron Sorkin Saved the HBO Drama Andrew Romano July 14, 2013
    <br />

</div>
