
<div ng-controller="Page2Controller" >

    <h4><% Title%></h4>
    adjective
    1.
    characterized by or given to pretentious or conspicuous show in an attempt to impress others:
    an ostentatious dresser.
    2.
    (of actions, manner, qualities exhibited, etc.) intended to attract notice:
    Lady Bountiful's ostentatious charity.
    Origin of ostentatious
    1650-1660
    1650-60; ostentat(ion) + -ious
    Related forms
    ostentatiously, adverb
    ostentatiousness, noun
    unostentatious, adjective
    unostentatiously, adverb
    Synonyms
    1. See grandiose.
    Dictionary.com Unabridged
    Based on the Random House Dictionary, © Random House, Inc. 2015.
    Cite This Source
    Examples from the web for ostentatious

    And most of the contemporization sounds like what it is—an ostentatious, slightly ill-fitting suit slipped onto a stiff.
    Michael Jackson’s Posthumous Album, ‘Xscape,’ Is a Confused, Shameless Money Grab Andrew Romano May 12, 2014

    The extraordinary price for the ostentatious gown proves that fascination with Princes Diana remains as strong today as ever.
    'Fairytale' Diana Dress Makes $140,000 At Auction Tom Sykes December 3, 2013

    However, he has a low threshhold for ostentatious displays of privilege, conspicuous consumption, and negligence.
    Castro Family Values A. L. Bardach September 19, 2009

    British Dictionary definitions for ostentatious
    ostentatious
    /ˌɒstɛnˈteɪʃəs/
    adjective
    1.
    characterized by pretentious, showy, or vulgar display
    Derived Forms
    ostentatiously, adverb
    Collins English Dictionary - Complete & Unabridged 2012 Digital Edition
    © William Collins Sons & Co. Ltd. 1979, 1986 © HarperCollins
    Publishers 1998, 2000, 2003, 2005, 2006, 2007, 2009, 2012
    Cite This Source
    Word Origin and History for ostentatious
    adj.

    1701, from ostentation + -ous. Earlier in a similar sense were ostentative (c.1600); ostentive (1590s). Related: Ostentatiously ; ostentatiousness (1650s).

</div>
