<div ng-controller="Page3Controller">
    <h4><% Title %></h4>

    Hi Eskinder -

    To help you stay at the top of the career ladder, we wanted to share some of the most interesting content we’ve seen recently related to software.

    We’ll be in touch periodically to pass along more of this type of content and hope that you find it useful.

    Also, if you’re in the market for a career change, please don’t forget to check out our current job listings. We have lots of roles available that could be a great next step in your career.
    An Elegant Solution to a Bit of a Mess
    Dealing with exceptions in Lambdas can be ugly. Here’s an example of a custom function that cleanly handles exceptions.
    Using ASP.NET 5 and EF7 with Modern Web Dev Tools
    ASP.NET 5 was designed to let you work with tools like AngularJS and Grunt. Here’s how to combine these tools to build an end-to-end Virtual Tutorial Tracker application.
    ES6: Features by Testing
    Test your code to see if it works natively in your user’s browser, then load only the best, most native version of code based on the results.

</div>
