<div ng-controller="AuthorsController">
    <h4> <% Title %> </h4>

    <img ng-style="loading" src='Images/system/loader.gif' style="display:block;margin:auto;margin-top:5%;">

<div ng-style="display">

        <table class="table">

          <tr ng-repeat="author in authors">
                  <td ng-model="author.name">
                    <% author.name %>
                  </td>
                  <td ng-model="author.email">
                    <% author.email %>
                  </td>
                  <td>

                    <a href="#/Authors/<% author.id %>" ng-click="btnEdit(author,$index,$event)">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  </td>
                  <td>
                    <a style="color:#FF7E00; text-decoration:none; font-size:16px;" href="" ng-click="btnDelete(author,$index)" class="glyphicon glyphicon-remove-sign"></a>
                  </td>
          </tr>

        </table>

  </div>

</div>
